#home {
    margin-inline: auto;
    margin-top: 188px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #intro {
        padding: 0 24px;
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 1350px) {
            flex-direction: column;
            align-items: center;
        }

        .left {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin-left: 80px;
            flex: 1;
    
            .title {
                font-size: 72px;
                font-weight: 800;
                padding-top: 120px;

                @media screen and (max-width: 1350px) {
                    padding-top: 0px;
                }

                color: #041646;
                flex: none;
                align-self: stretch;
            }

            .vector {
                width: 190px;
                top: 235px;
                position: relative;

                @media screen and (max-width: 1350px) {
                    top: 130px;
                }
            }
    
            .description {
                font-size: 20px;
                font-weight: 400;
                margin-top: 32px;
                color: #0F172A;

                @media (any-pointer: coarse) {
                    font-size: 36px;
                    line-height: 64px;
                    padding: 24px 0px;
                }
            }
    
            .visitContainer {
                display: flex;
                flex-direction: row;
                margin-top: 32px;

                @media (any-pointer: coarse) {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    gap: 36px;
                }

                .button {
                    background: #BC0203;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 24px 24px;
                    width: 360px;
                    height: 64px;
                    border-radius: 8px;
                    cursor: pointer;

                    @media (any-pointer: coarse) {
                        width: 560px;
                        height: 84px;
                    }
                    
                    justify-content: center;
    
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #fff;

                    @media (any-pointer: coarse) {
                        font-size: 36px;
                        padding: 48px;
                    }
    
                    &:hover {
                        opacity: 0.7;
                    }
                    
                    .forward {
                        margin-left: 12px;
                    }
                }
    
                .demoVideo {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    background: #fff;
                    color: #2563EB;
                    padding-left: 42px;

                    @media (any-pointer: coarse) {
                        padding-left: 0px;
                    }
    
                    .text {
                        padding-left: 18px;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 500;

                        @media (any-pointer: coarse) {
                            font-size: 32px;
                        }
                    }

                    img {
                        width: 21px;
                        height: 21px;

                        @media (any-pointer: coarse) {
                            width: 32px;
                            height: 32px;
                        }
                    }
    
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    
        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 30px;
            flex-direction: column;
            flex: 1;

            @media screen and (max-width: 1350px) {
                flex-direction: column;
                align-items: center;
                padding-top: 80px;
            }

            .nftContainer {
                display: grid;
                column-gap: 10px;
                row-gap: 10px;
                grid-template-columns: auto auto auto;

                @media (any-pointer: coarse) {
                    grid-template-columns: auto;
                }

                .nft {
                    width: 196px;
                    height: 196px;
                    border-radius: 21px;
                    margin: 12px;
                    cursor: pointer;

                    @media (any-pointer: coarse) {
                        width: 640px;
                        height: 640px;
                    }

                    .nftIcon {
                        @media (any-pointer: coarse) {
                            width: 640px;
                            height: 640px;
                        }
                    }
        
                    .description {
                        background: #fff;
                        height: 47px;
                        bottom: 47px;
                        position: relative;
                        border-radius: 0px 0px 21px 21px;
                        border: solid 1px #babad9;
                        display: flex;
                        align-items: center;
                        padding: 12px;

                        @media (any-pointer: coarse) {
                            height: 120px;
                            bottom: 120px;
                        }
                        
                        .nameAuthor {
                            display: flex;
                            flex-direction: column;
                            color: #000;
                            flex: 1;
        
                            .name {
                                font-size: 12px;
                                line-height: 10px;
                                font-weight: 600;

                                @media (any-pointer: coarse) {
                                    font-size: 36px;
                                    line-height: 30px;
                                }
                            }
                            .author {
                                padding-top: 2px;
                                font-size: 8px;
                                font-weight: 300;
                                line-height: 10px;

                                @media (any-pointer: coarse) {
                                    font-size: 30px;
                                    line-height: 36px;
                                }
                            }
                        }
        
                        .price {
                            display: flex;
                            font-size: 18px;
                            line-height: 10px;
                            font-weight: 400;
                            flex: 1;
                            align-items: center;
                            justify-content: flex-end;

                            @media (any-pointer: coarse) {
                                font-size: 54px;
                                line-height: 30px;
                            }
        
                            .eth {
                                display: flex;
                                height: 19px;
                                width: 11px;

                                @media (any-pointer: coarse) {
                                    height: 57px;
                                    width: 57px;
                                }

                                .ethIcon {
                                    @media (any-pointer: coarse) {
                                        height: 57px;
                                        width: 57px;
                                    }
                                }
                            }
                        }
                    }
        
                    &:hover {
                        border: 3px solid #FE0405;
                        filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
                    }
                }
            }
    

        }
    }

    .partners {
        display: flex;
        height: 196px;
        width: 100%;
        align-items: center;

        .partner {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex: 1;
            img {
                height: 100%;
            }
        }
    }

    #features {
        padding: 0 24px;
        display: flex;
        align-items: flex-start;
        height: 640px;

        @media (any-pointer: coarse) {
            height: 1540px;
        }

        @media screen and (max-width: 1350px) {
            flex-direction: column;
            align-items: center;
        }

        .left {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin-left: 80px;
            flex: 1;
    
            .title {
                font-size: 72px;
                font-weight: 800;
                padding-top: 120px;
                @media screen and (max-width: 1350px) {
                    padding-top: 20px;
                }
                color: #041646;
                flex: none;
                align-self: stretch;
            }

            .vector {
                width: 205px;
                top: 240px;
                @media screen and (max-width: 1350px) {
                    top: 140px;
                }
                left: 430px;
                position: relative;
            }
    
            .description {
                font-size: 20px;
                font-weight: 400;
                margin-top: 32px;
                color: #0F172A;

                @media (any-pointer: coarse) {
                    font-size: 36px;
                    line-height: 64px;
                }
            }
    
            .button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 24px 24px;
                width: 360px;
                height: 64px;
                border-radius: 8px;
                cursor: pointer;
                
                justify-content: center;

                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #2563EB;

                &:hover {
                    opacity: 0.7;
                }
                
                .forward {
                    margin-left: 12px;
                }

                @media (any-pointer: coarse) {
                    font-size: 36px;
                    line-height: 36px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }
            }            
        }
    
        .right {
            justify-content: flex-start;
            align-items: center;
            margin-right: 30px;
            flex-direction: column-reverse;
            flex: 1;

            @media (any-pointer: coarse) {
                display: flex;
                height: 1360px;
                width: 100%;
                margin: 80px; 
                justify-content: center;
                background-position: center !important;
            }

            .imgContainer {
                position: relative;
                @media (any-pointer: coarse) {
                    position: static;
                }
                .img1 {
                    position: relative;
                    top: 140px;
                    left: 540px;
                    height: 186px;
    
                    @media (any-pointer: coarse) {
                        height: 360px;
                        position: static;
                    }
                }
    
                .img2 {
                    position: relative;
                    top: 20px;
                    left: 680px;
                    height: 80px;
    
                    @media (any-pointer: coarse) {
                        height: 160px;
                        top: -240px;
                        left: 280px;
                    }
                }
            }
    


            .img3 {
                position: relative;
                top: 40px;
                left: 520px;
                height: 180px;

                @media (any-pointer: coarse) {
                    position: static;
                    height: 360px;
                }
            }

            .img4 {
                position: relative;
                bottom: 140px;
                left: 320px;
                height: 180px;

                @media (any-pointer: coarse) {
                    position: static;
                    height: 360px;
                }
            }

            .create {
                padding: 24px 18px;
                position: relative;
                bottom: 560px;
                left: 260px;
                flex-direction: column;
                display: flex;
                background: #fff;
                width: 225px;
                height: 232px;
                margin-left: 40px;
                box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.07);
                border-radius: 10px;
                z-index: 6;
                order: 6;

                @media (any-pointer: coarse) {
                    position: static;
                    height: 540px;
                    width: 540px;
                    margin: 40px;
                    padding: 30px;
                }

                .header {
                    background: #DBEAFE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    width: 107px;
                    height: 24px;
                    padding: 8px 4px;
                    color: #1E40AF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;

                    @media (any-pointer: coarse) {
                        font-size: 36px;
                        width: 280px;
                        height: 48px;
                    }
                }

                .title {
                    display: flex;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 110%;
                    color: #0F172A;
                    padding-top: 8px;

                    @media (any-pointer: coarse) {
                        font-size: 40px;
                        padding-top: 20px;
                    }
                }

                .description {
                    display: flex;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                    color: #475569;
                    padding-top: 8px;

                    @media (any-pointer: coarse) {
                        font-size: 28px;
                        padding-top: 20px;
                    }
                }

                .btnContainer {
                    display: flex;
                    padding: 8px 8px 16px 16px;
                    align-items: center;
                    justify-content: center;

                    @media (any-pointer: coarse) {
                        padding: 30px;
                    }

                    .button {
                        color: #2563EB;
                        padding: 8px 20px;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        border: 1px solid #2563EB;
                        border-radius: 8px;
                        cursor: pointer;

                        @media (any-pointer: coarse) {
                            font-size: 28px;
                            padding: 20px 50px;
                        }

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .mint {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: 80px 80px;

        @media screen and (max-width: 1350px) {
            margin-top: 360px;
        }

        @media (any-pointer: coarse) {
            justify-content: center;
        }

        .title {
            font-size: 72px;
            font-weight: 800;
            color: #041646;
            display: flex;
            @media screen and (max-width: 1350px) {
                text-align: center;
            }
        }

        .description {
            font-size: 20px;
            font-weight: 400;
            margin-top: 32px;
            color: #0F172A;
            @media screen and (max-width: 1350px) {
                text-align: center;
            }

            @media (any-pointer: coarse) {
                font-size: 36px;
                line-height: 64px;
            }
        }

        .vector {
            width: 120px;
            top: 100px;
            left: 80px;
            position: relative;
            @media screen and (max-width: 1350px) {
                left: 180px;
            }
        }

        .desktop {
            padding-top: 24px;
            @media (any-pointer: coarse) {
                display: none;
            }
        }

        .desktop1 {
            @media (any-pointer: fine) {
                display: none;
            }

            @media (any-pointer: coarse) {
                width: 80%;
            }

            img {
                width: 100%;
            }
        }
    }

    #team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        padding-top: 106px;
        padding-bottom: 88px;

        .title {
            font-size: 72px;
            font-weight: 800;
            color: #041646;
            flex: none;
        }

        .vector {
            width: 127px;
            top: 100px;
            left: 150px;
            position: relative;
        }

        .imgContainer {
            display: flex;
            padding-top: 80px;
            width: 80%;

            @media (any-pointer: coarse) {
                flex-direction: column;
                align-items: center;
            }

            .potrait {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex: 1;
                width: 176px;
                height: 176px;
                mix-blend-mode: luminosity;
                border: 5px solid #FFFFFF;
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.07));

                @media (any-pointer: coarse) {
                    width: 360px;
                    height: 360px;
                }

                img {
                    width: 176px;
                    height: 176px;

                    @media (any-pointer: coarse) {
                        width: 360px;
                        height: 360px;
                    }
                }

                .name {
                    font-size: 21px;
                    line-height: 32px;
                    font-weight: 700;
                    color: #041646;

                    @media (any-pointer: coarse) {
                        font-size: 63px;
                        line-height: 96px;
                    }
                }
                
                .description {
                    font-size: 16px;
                    line-height: 26px;
                    color: #52525B;
                    font-weight: 400;
                    text-align: center;

                    @media (any-pointer: coarse) {
                        font-size: 36px;
                        line-height: 64px;
                    }
                }
            }
        }

        .line {
            padding: 80px;
            height: 15px;
        }

        .markContainer {
            display: flex;
            @media (any-pointer: coarse) {
                flex-direction: column;
                gap: 80px;
            }

            .mark {
                cursor: pointer;
                display: flex;
                justify-content: center;
                flex: 1;
                padding: 0px 80px;

                img {
                    height: 100%;
                }
            }
        }

    }

    .roadmap {
        padding: 112px 24px;
        display: flex;
        width: 100%;
        align-items: flex-start;

        @media screen and (max-width: 1350px) {
            flex-direction: column;
            align-items: center;
        }

        .left {
            height: 100%;
            padding-top: 164px;

            @media screen and (max-width: 1350px) {
                padding-top: 0px;
            }
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin-left: 80px;
            flex: 1;

            .title {
                font-size: 72px;
                font-weight: 800;
                color: #041646;
                flex: none;
            }
    
            .description {
                font-size: 20px;
                font-weight: 400;
                margin-top: 32px;
                color: #0F172A;

                @media (any-pointer: coarse) {
                    font-size: 36px;
                }
            }

            .vector {
                width: 227px;
                top: 120px;
                left: 300px;
                position: relative;
            }
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 30px;
            flex: 1.5;

            @media (any-pointer: coarse) {
                margin-right: 0px;
                width: 80%;
            }

            .cardContainer {
                display: flex;
                flex-direction: column;
                padding: 0px 105px 0px 0px;
                width: 100%;

                @media (any-pointer: coarse) {
                    padding: 40px;
                }

                .card {
                    display: flex;
                    width: 100%;
                    height: 262px;
                    border-radius: 16px;
                    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.07);
                    background-color: #fff;
                    padding: 24px 24px 18px 42px;
                    margin-top: 44px;

                    @media (any-pointer: coarse) {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 650px;
                        padding: 40px;
                    }

                    .ellipse {
                        display: flex;
                        flex: 1;

                        img {
                            height: 70%;
                            @media (any-pointer: coarse) {
                                height: 200px;
                            }
                        }
                    }

                    .phaseContainer {
                        flex: 3;
                        @media (any-pointer: coarse) {
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                        }
                        .subtitle {
                            font-size: 18px;
                            line-height: 180%;
                            font-weight: 500;
                            color: #717171;

                            @media (any-pointer: coarse) {
                                font-size: 42px;
                            }
                        }

                        .title {
                            font-size: 26px;
                            line-height: 180%;
                            font-weight: 700;
                            color: #041646;
                            padding-left: 1px;

                            @media (any-pointer: coarse) {
                                font-size: 52px;
                            }
                        }

                        .description {
                            font-size: 20px;
                            line-height: 180%;
                            font-weight: 500;
                            color: #444444;
                            padding-top: 14px;

                            @media (any-pointer: coarse) {
                                font-size: 36px;
                            }
                        }
                    }
                }
            }

            .schedule {
                display: flex;
                flex-direction: column;

                @media (any-pointer: coarse) {
                    display: none;
                }
                
                img {
                    height: 100%;
                }
            }
        }
    }

    .concept {
        display: flex;
        width: 100%;
        align-items: flex-start;

        @media screen and (max-width: 1350px) {
            flex-direction: column;
            align-items: center;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin-left: 80px;
            flex: 1;
            padding: 80px;

            @media (any-pointer: coarse) {
                width: 720px;
                padding: 50px;
            }

            .imgContainer {
                @media (any-pointer: coarse) {
                    display: none;
                }

                img {
                    width: 100%;
                }
            }

            .imgContainer1 {
                @media (any-pointer: fine) {
                    display: none;
                }
                
                img {
                    width: 720px;
                }
            }
        }

        .right {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 30px;
            flex-direction: column;
            flex: 1;
            padding-right: 80px;

            @media screen and (max-width: 1350px) {
                justify-content: center;
                align-content: center;
                align-items: center;
                padding: 80px;
            }

            .title {
                font-size: 72px;
                font-weight: 800;
                padding-top: 156.5px;
                color: #041646;
                flex: none;
                align-self: stretch;
                @media screen and (max-width: 1350px) {
                    text-align: center;
                    padding-top: 0px;
                }
            }
    
            .description {
                font-size: 20px;
                font-weight: 400;
                margin-top: 32px;
                color: #0F172A;

                @media screen and (max-width: 1350px) {
                    text-align: center;
                }

                @media (any-pointer: coarse) {
                    font-size: 36px;
                }
            }

            .vector {
                width: 280px;
                top: 270px;
                left: 320px;
                position: relative;

                @media screen and (max-width: 1350px) {
                    top: 120px;
                    left: 50px;
                }
            }

            .button {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;


                padding-top: 48px;
                width: 360px;
                height: 64px;
                border-radius: 8px;
                cursor: pointer;
                
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #2563EB;

                &:hover {
                    opacity: 0.7;
                }
                
                .forward {
                    margin-left: 12px;
                }

                @media screen and (max-width: 1350px) {
                    margin-bottom: 40px;
                    align-items: center;
                    justify-content: center;
                }

                @media (any-pointer: coarse) {
                    font-size: 42px;
                }
            }   
        }
    }

    #counter {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 373px;
        padding: 80px;
        background: #041646;

        @media (any-pointer: coarse) {
            flex-direction: column;
            height: 840px;
        }

        .counterContainer {
            display: flex;
            flex: 1;
            width: 100%;
            flex-direction: column;
            align-items: center;

            @media (any-pointer: coarse) {
                gap: 24px;
            }

            .icon {
                img {
                    height: 100%;
                }
            }

            .number {
                font-size: 72px;
                line-height: 110%;
                color: #FACC15;
                font-weight: 800;
            }

            .description {
                font-size: 24px;
                line-height: 160%;
                color: #FACC15;
                font-weight: 400;

                @media (any-pointer: coarse) {
                    font-size: 36px;
                }
            }
        }
    }

    .join {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 256px 80px;
        align-content: center;
        align-items: center;

        @media (any-pointer: coarse) {
            height: 640px;
            justify-content: center;
        }

        .title {
            font-size: 72px;
            font-weight: 800;
            padding-top: 120px;
            color: #041646;
            flex: none;
        }

        .description {
            font-size: 20px;
            font-weight: 400;
            margin-top: 32px;
            color: #0F172A;

            @media (any-pointer: coarse) {
                font-size: 36px;
                text-align: center;
            }
        }

        .button {
            background: #BC0203;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 32px;
            padding: 32px;
            width: 240px;
            height: 64px;
            border-radius: 8px;
            cursor: pointer;
            
            justify-content: center;

            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #fff;

            @media (any-pointer: coarse) {
                font-size: 42px;
                width: 480px;
                height: 84px;
                text-align: center;
            }

            &:hover {
                opacity: 0.7;
            }
            
            .forward {
                margin-left: 12px;
            }
        }
    }
}