#footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #0F172A;
    color: #E2E8F0;
    padding: 0px 80px;
    min-width: 1040px;
    
    .main {
        width: 100%;
        margin-inline: auto;
        padding-top: 80px;
        display: flex;
        align-items: flex-start;

        @media (any-pointer: coarse) {
            flex-direction: column;
            padding-top: 100px;
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            gap: 48px;

            @media (any-pointer: coarse) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns: auto auto auto;
            }

            .logo {
                width: 103px;
                background: #0F172A;

                @media (any-pointer: coarse) {
                    width: 240px;
                }

                img {
                    width: 100%;

                    @media (any-pointer: coarse) {
                        width: 200px;
                    }
                }
            }

            .navbar {
                flex: 1;
                .title {
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 110%;
                    margin-bottom: 24px;

                    @media (any-pointer: coarse) {
                        font-size: 42px;
                    }
                }

                .item {
                    display: flex;
                    color: #E2E8F0;
                    margin-bottom: 24px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    cursor: pointer;

                    @media (any-pointer: coarse) {
                        font-size: 32px;
                        line-height: 72px;
                        flex-direction: column;
                    }

                    .button {
                        display: flex;
                        justify-content: center;
                        margin-left: 8px;
                        cursor: pointer;
                        background: #F3E8FF;
                        color: #6B21A8;
                        border-radius: 4px;
                        width: 80px;
                        padding: 4px;
                        font-size: 12px;
                        line-height: 140%;
                        font-weight: 400;

                        @media (any-pointer: coarse) {
                            font-size: 24px;
                            width: 120px;
                            margin: 0px 24px;
                        }
                    }
                }
            }
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background: #334155;
    }

    .bottom {
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (any-pointer: coarse) {
            flex-direction: column;
            justify-content: flex-start;
            padding: 30px 80px;
        }

        .left {
            color: #E2E8F0;;
            font-weight: 300;
            font-size: 14px;

            @media (any-pointer: coarse) {
                font-size: 32px;
            }
        }

        .right {
            color: #E2E8F0;
            display: flex;
            padding: 37px;

            @media (any-pointer: coarse) {
                justify-content: center;
            }

            .item {
                margin-left: 32px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                cursor: pointer;

                @media (any-pointer: coarse) {
                    font-size: 36px;
                }
            }

            img {
                width: 24px;
            }
        }
    }
}