#headerContainer {
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    min-width: 1040px;
    box-sizing: border-box;
    background: #fff;
    z-index: 99;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 80px;

    @media (any-pointer: coarse) {
        height: 300px;
    }
    
    #header {    
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (any-pointer: coarse) {
            height: 300px;
        }
    
        .left {
            height: 150px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            color: #000;
            margin-left: 30px;
    
            .logo {
                @media (any-pointer: coarse) {
                    display: flex;
                    height: 300px;
                    padding: 36px;
                }
    
                width: auto;
                height: 115px;
    
                img {
                    height: 100%;
                }
            }
    
            .nav-item {
                width: auto;
                height: 100%;
                padding: 0 64px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                opacity: 0.6;
                position: relative;
                color: #041646;
                transition: all 1s;
                cursor: pointer;
    
                @media (any-pointer: coarse) {
                    display: none;
                }
    
                .page-links {
                    display: none;
                }
    
                &:hover {
                    opacity: 1;
    
                    .page-links {
                        background-color: #fff;
                        box-shadow: 0 2px 12px 0 #262931aa;
                        position: absolute;
                        top: 100px;
                        left: 0;
                        display: flex;
                        flex-direction: column;
    
                        a {
                            padding-left: 12px;
                            width: 180px;
                            line-height: 48px;
                            opacity: 0.6;
                            transition: all 1s;
    
                            &:hover {
                                opacity: 1;
                                background: #00000020;
                            }
                        }
                    }
                }
            }
        }
    
        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            margin-right: 30px;
    
            @media (any-pointer: coarse) {
                align-items: top;
            }
    
            .connect {
                margin-left: 12px;
                position: relative;
    
                @media (any-pointer: coarse) {
                    display: none;
                }
    
                .network-lists {
                    display: none;
                }
    
                &:hover {
                    .network-lists {
                        background-color: #fff;
                        box-shadow: 0 2px 12px 0 #26293155;
                        width: 200px;
                        position: absolute;
                        top: 54px;
                        right: 12px;
                        padding: 12px;
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        font-size: 14px;
    
                        .network {
                            padding-left: 12px;
                            line-height: 36px;
                            transition: all .5s;
                            display: flex;
                            align-items: center;
                            gap: 12px;
    
                            img {
                                width: 1.5em;
                                height: 1.5em;
                            }
    
                            &:hover {
                                background: #00000020;
                            }
                        }
    
                        .disconnect-btn {
                            margin-inline: auto;
                            padding: 0 24px;
                            width: 160px;
                            border-radius: 50vmax;
                            color: #000;
                            font-weight: 600;
                            line-height: 32px;
                            border: 1px #000 solid;
                            transition: all .5s;
    
                            &:hover {
                                color: #fff;
                                background-color: #000;
                            }
                        }
                    }
                }
    
                .connect-btn {
                    padding: 12px 28px;
                    border-radius: 4px;
                    color: #000;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 1rem;
                    border: 1px #000 solid;
                    transition: background-color 1s;
    
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
    
            .nav-icon {
                @media (any-pointer: fine) {
                    display: none;
                }
    
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #000;
                height: 100px;
                width: 100px;
    
                &:hover {
                    border: 1px solid #cdcdcd;
                }
            }
        }
    }
}

#top-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    gap: 18px;

    @media (any-pointer: fine) {
        display: none;
    }

    .button {
        font-size: 36px;
        font-weight: 600;
        line-height: 42px;
        cursor: pointer;
    }

    .connect-btn {
        padding: 12px 28px;
        border-radius: 4px;
        color: #000;
        font-weight: 600;
        line-height: 42px;
        font-size: 36px;
        transition: background-color 1s;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}
